@charset "UTF-8"

.sample {
    background-image: url(./images/main.png) no-repeat;
    background-size: cover;
    background-color: aqua
}

.sample p {
    color: beige;
}

.container {
    width: 800px;
    margin:auto;
}
