@charset "UTF-8";
/* line 3, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
body {
  margin: 0;
  font-family: "Montserrat"; }

/* line 8, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
header {
  height: 100%;
  width: 100%;
  background-image: url(images/main.png);
  background-size: cover;
  background-color: white; }
  /* line 14, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
  header .container {
    width: 800px;
    margin: auto; }
    /* line 17, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
    header .container p {
      font-family: "游ゴシック体", YuGothic;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 0.05em;
      color: white;
      margin-top: 15px;
      position: absolute;
      left: 138px;
      top: 520px; }

/* line 31, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.header-left {
  float: left; }

/* line 35, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.header-right {
  float: right;
  margin-top: 30px; }
  /* line 38, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
  .header-right ul li {
    display: inline;
    margin: 0 35px; }

/* line 44, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.nav-list {
  color: black;
  text-decoration: none;
  font-size: 18px; }
  /* line 48, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
  .nav-list:hover {
    padding-bottom: 5px;
    border-bottom: 8px solid black;
    font-size: 18px; }

/* line 55, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
#LogoLOGO {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  letter-spacing: 0.05em;
  position: absolute;
  top: 36px;
  left: 40px; }

/* line 66, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
#LogoLOGO-sub {
  font-size: 12px;
  font-family: "游ゴシック体", YuGothic;
  letter-spacing: 0.05em;
  color: white;
  margin-top: 6px;
  position: absolute;
  top: 68px;
  left: 40px; }

/* line 77, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
#nav-header {
  height: 100px; }

/* line 81, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
header {
  height: 806px;
  width: 100%;
  background-image: url(images/main.png);
  background-size: cover; }

/* line 88, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
h1 {
  font-size: 64px;
  line-height: 1.25;
  position: absolute;
  left: 138px;
  top: 360px; }

/* line 96, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.clearfix::after {
  content: "";
  display: block;
  clear: both; }

/* line 103, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.scroll {
  display: block;
  width: 60px;
  margin: 621px auto 0 auto; }

/* line 109, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.scroll span {
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-left: 10px solid white;
  border-bottom: 10px solid white;
  border-radius: 3px;
  z-index: 1;
  display: inline-block;
  text-align: center; }

/* line 125, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.about-box {
  float: left;
  width: 304px;
  border: 1px solid #707070;
  background-color: #f0f0f0;
  margin: 186px 0 0 0;
  padding: 77px 57px 77px 57px; }

/* line 134, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.about-image {
  height: 329.29px;
  width: 494px;
  float: right;
  background-image: url(images/about.png);
  background-size: cover;
  margin: 245px 0 0 0; }

/* line 147, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.h2-about {
  font-size: 48px;
  font-weight: bold; }

/* line 152, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.h2-sub {
  font-size: 16px;
  font-weight: bold;
  font-family: "游ゴシック体", YuGothic;
  margin-top: 15px; }

/* line 159, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.h2-border {
  border-bottom: 5px solid black;
  margin-top: 16px;
  width: 69px; }

/* line 165, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
h3 {
  font-size: 24px;
  font-weight: bold; }

/* line 170, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.plane-about {
  width: 305px;
  font-size: 16px;
  font-family: "游ゴシック体", YuGothic;
  margin-top: 15px;
  line-height: 2; }

/* line 178, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
h2 {
  font-size: 48px;
  font-weight: bold;
  margin: 5px 0; }

/* line 184, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.description {
  font-family: "游ゴシック体", YuGothic;
  font-weight: 500px;
  font-size: 16px;
  line-height: 2; }

/* line 191, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.about-description {
  margin-top: 15px;
  width: 305px; }

/* line 197, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.item {
  width: 1004px;
  margin: 100px auto; }

/* line 202, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.foundation-image {
  width: 324px;
  height: 215px;
  background-size: cover; }

/* line 208, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.item-box {
  width: 324px;
  float: left;
  margin-right: 16px;
  list-style-type: none; }

/* line 215, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.item-boxes {
  width: 1020px;
  margin: 25px 0; }

/* line 220, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.blog-sub {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.02;
  margin-top: 20px; }

/* line 227, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.h3-about {
  font-family: "游ゴシック体", YuGothic;
  margin-top: 43px; }

/* line 232, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.h3-item {
  font-size: 24px;
  font-weight: bold;
  margin-top: 43px;
  letter-spacing: 0.02;
  line-height: 1.333;
  font-family: "Montserrat"; }

/* line 241, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.item-description {
  margin-top: 16px; }

/* line 246, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.price-box {
  float: left;
  width: 294px;
  border: 5px solid #A38787;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 55px 85px;
  margin: 0 auto auto 0; }

/* line 255, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.h2-price {
  text-align: center; }

/* line 259, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.h2-border-price {
  margin: 16px auto 0 auto; }

/* line 263, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.h2-sub-price {
  text-align: center; }

/* line 267, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.price-image {
  height: 884px;
  width: 763px;
  background-image: url(images/price.png);
  background-size: cover;
  margin: 193px 0 0 auto; }

/* line 275, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.blog-image {
  width: 324px;
  height: 215px; }

/* line 280, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.blog-image191102 {
  width: 324px;
  height: 215px;
  background-image: url(images/tamara-bellis-131260-unsplash.png);
  background-size: cover; }

/* line 287, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.blog-image191102_2 {
  width: 324px;
  height: 215px;
  background-image: url(images/blog3.png);
  background-size: cover; }

/* line 294, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.blog {
  width: 1004px;
  margin: 100px auto; }

/* line 299, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.blog-boxes {
  width: 1020px;
  margin: 25px 0; }

/* line 304, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.blog-box {
  width: 324px;
  float: left;
  margin-right: 16px; }

/* line 310, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.blog-description {
  margin-top: 16px; }

/* line 314, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.access {
  width: 1004px;
  margin: 100px auto; }

/* line 319, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.access-box {
  margin-top: 43px;
  width: 30%;
  text-align: left;
  float: left; }

/* line 326, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.ggmap {
  height: 421px;
  width: 664px;
  margin-left: auto;
  margin-top: 43px; }

/* line 333, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.access-description {
  margin-top: 5px; }

/* line 337, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.h3-access {
  margin-top: 30px;
  letter-spacing: 0.02;
  line-height: 1.333;
  font-family: "Montserrat"; }

/* line 344, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.h3-directions {
  font-family: "游ゴシック体", YuGothic; }

/* line 348, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.directions {
  width: 751px;
  margin: 150px auto; }

/* line 353, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.directions-description {
  margin-top: 32px;
  font-family: "游ゴシック体", YuGothic;
  font-weight: 500px;
  letter-spacing: 0.05;
  font-size: 16px;
  line-height: 1.5; }

/* line 362, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
footer {
  background-color: #262626;
  border: 1px solid #5C3333; }

/* line 367, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.footer-logo {
  margin: 100px auto 100px auto;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 0.05;
  color: white; }

/* line 378, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.Price {
  width: 1004px;
  margin: 100px auto;
  overflow: hidden; }
  /* line 382, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
  .Price table {
    width: 100%;
    margin-top: 80px;
    border: solid 0px black; }
  /* line 387, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
  .Price td {
    font-family: "游ゴシック体", YuGothic;
    font-size: 16px;
    font-weight: bold;
    line-height: 3; }
  /* line 393, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
  .Price tr {
    border-bottom: dashed 1px #707070; }
  /* line 396, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
  .Price #table-bottom {
    border: none; }
  /* line 399, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
  .Price .table-right {
    text-align: right; }

/* line 404, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
.about {
  width: 1004px;
  margin: 100px auto; }

/* line 409, /Users/shungo/Documents/Other/personal/sidej/menta/menta_works_cosme/main.scss */
#eye-shadow {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
