.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(images/main.png) repeat;
    background-size: cover;
}

.container {
    width: 800px;
    margin: auto;
}

.container p {
    color: white;
}
